@import url('./reset_styles.css');
$pcMaxWidth: 960px; //PC表示の最大幅
$spBreakPoint: 768px; //スマホ、ブレイクポイント

//PC表示メディアクエリ
@mixin mq_pc($width: $spBreakPoint) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

//ハイライトカラーの無効化
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

/* ----- headerハンバーガーメニュー ----- */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
}

.global-nav {
    position: fixed;
    right: -320px;
    /* これで隠れる */
    top: 0;
    width: 300px;
    /* スマホに収まるくらい */
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
    /* メニューが多くなったらスクロールできるように */
}

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    /* クリックしやすいようにちゃんと幅を指定する */
    height: 40px;
    /* クリックしやすいようにちゃんと高さを指定する */
    cursor: pointer;
    z-index: 100;
}

.global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-nav__item {
    text-align: center;
    padding: 0 14px;
}

.global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
}

.global-nav__item a:hover {
    background-color: #eee;
}

.hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #595757;
    transition: all .6s;
}

.hamburger__line--1 {
    top: 14px;
}

.hamburger__line--2 {
    top: 20px;
}

.hamburger__line--3 {
    top: 26px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

/* 表示された時用のCSS */
.nav-open .global-nav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}

.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}

/* ハンバーガーメニュー修正 */
.hamburger {
    margin-top: -5px;
}

/* ナビメニュー */
.global-nav {

    /* ナビメニュー「閉じる」部分 */
    .nav-close {
        position: relative;
        line-height: 3em;
        padding: 8px 0;
        margin: 0 14px;
        border-bottom: 1px solid #eee;
        color: #595757;
        text-indent: 1em;
        cursor: pointer;

        .close-nav {
            position: absolute;
            background: #bbbbbb;
            width: 65px;
            height: 65px;
            line-height: 65px;
            left: -1px;
            bottom: -1px;
            text-indent: 0;
        }

        &:hover {
            background-color: #eee;
        }
    }

    /* ナビメニューの文字修正 */
    .global-nav__item {
        line-height: 3em;

        a {
            color: #595757;
        }
    }
}

/* ----- main部分の設定 ----- */
.main {
    background: #ece4e1;
    padding: 0 0 70px 0;
}

/* ----- header調整 ----- */
.header {
    padding: 0 0 17px 0;
    z-index: 100;

    .header-inner {
        position: relative;
        margin: 15px;

        @include mq_pc() {
            max-width: 960px;
            text-align: left;
            margin: 13px auto;
        }
    }
}

/* ----- slider調整 ----- */
.slider-inner {
    position: relative;
    margin-top: 50px;
}

/* ----- slick-slider ----- */
.slick-arrow {
    cursor: pointer;
}

.slider {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-left: 0;

    //slideerにスマホ用、画像表示
    .sp {
        display: block !important;
    }

    .pc {
        display: none !important;
    }

    @include mq_pc() {

        //sliderにPC用、画像表示
        .sp {
            display: none !important;
        }

        .pc {
            display: block !important;
        }

        max-width: 960px;
    }
}

.slider img {
    height: auto;
    width: 100%;
}

/* slick setting */
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.prev,
.next {
    position: absolute;
    padding: 20px;
    width: 20px;
    top: 40%;
    z-index: 10;
}

.next {
    right: 0;
}

/* ----- TOP画面のホームページタイトル ----- */
.top-title {
    margin: 80px 0;
    text-align: center;
}

/* ----- TOP画面のリンクへのボタン ----- */
.sp__top-button {
    .inside__image {
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        @include mq_pc() {
            width: 33.3333%;

            img {
                width: 95%;
            }
        }

        //ボタンの上にポインタ、明るくする
        a {
            transition: opacity .3s;

            &:hover {
                opacity: .7;
            }
        }

        &:last-child {
            background: #ece4e1;
            padding-bottom: 20px;
            margin-bottom: 0;
        }
    }

    h2 {
        position: absolute;
        color: #fff;
        font-size: 1.2em;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);

        &::after {
            content: '';
            background: url('../images/sp_top-button-mark.png');
            width: 52px;
            height: 53px;
            top: 45px;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
        }
    }

    @include mq_pc() {
        width: $pcMaxWidth;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        margin: 0 auto;
    }
}

/* ----- footer ----- */
.footer {
    .footer-inner {
        h2 {
            padding: 30px 20px;
            background: #5b7c13;
            color: #fff;
            font-weight: normal;
            font-size: 1.2em;
            text-align: right;

            &::before {
                content: '　';
                background: url('../images/footer__list-style-mark.png') no-repeat center;
            }

        }

        h3 {
            font-weight: normal;
            margin-bottom: 10px;
        }

        .contact {
            padding: 50px 10%;
            background: #394918;
            color: #fff;
            font-weight: normal;
            font-size: .9em;

            li {
                list-style: none;
                line-height: 1.5em;
                text-indent: 1em;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            transition: opacity .2s;

            &:hover {
                opacity: .6;
            }
        }
    }
}